@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
    font-style: normal;
    margin: 0;
}
body{
    background-image: url(images/manila.jpg);
    background-position-y: 20%;
    background-repeat: no-repeat;
}
.socialstext{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: font-size 0.2s ease, color 0.2s ease;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}
.socialstext:link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: font-size 0.4s ease, color 0.2s ease,;
}
.socialstext:visited{
    color: rgb(255, 255, 255);
}
.socialstext:hover{
    color: rgb(132, 171, 255);
    font-size: 30px;
}
.socialstext:active{
    color: black;
}
.pfp{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1.5px;
    border-style: solid;
    transition: rotate 1s ease, width 1s ease, height 1s ease;
}
.pfp:hover{
    width: 200px;
    height: 200px;
    rotate: 359deg;
}
.section1{
    background-position: 10%;
    background-size: cover;
    line-height: 3rem;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: brightness(50%);
}
.introduction {
    padding: 100px;
    color: white;
}
/* general stuff */

.header{
    font-size: 1.3rem;
    font-weight: 600;
}
.paragraph{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
}

/* not so general stuff */
.introductionHeader{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.introductionText{
    font-weight: 900;
}
.introductionParagraph{
    margin: 30px 0px;
}
.Capa_1{
    fill: white;
}
.iconswrapper{
    display: flex;
    gap: 10px;
}
.icons{
    width: 30px;
    height: 30px;
    grid: 100%;
}
.socials{
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 500px;
    justify-items: left;
    align-items: center;
    margin-bottom: 3rem;
}
.othersocials{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 50px 500px;
    justify-items: left;
    align-items: center;
}
.infoWrapper{
    display: grid;
    overflow: auto;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 160px 50px 160px;
    justify-items: left;
    align-items: center;
}
.infoParagraph{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.socialstext{
    margin: 5px;
    padding: auto;
    text-align: left;
}