@font-face {
    font-family: Recursive;
    src: url(Fonts/Recursive/Recursive.ttf);
}
@font-face{
    font-family: Rubik;
    src: url(Fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: vcr_osd_mono;
    src: url(Fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

*{
    font-family: Recursive;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(86, 86, 86);
}
.topbar{
    position: sticky;
    background-color: rgb(60, 60, 60);
    overflow: hidden;
    top: 0;
    z-index: 100;

}
.topbartext{
    color: rgb(255, 171, 61);
    font-weight: lighter;
    float: left;
    margin: 1%;
    font-size: 2.5vw;
}
.discordreal{
    position: relative;
}
.atcopper{
    float: inline-start;
    font-size: 1vw;
    margin-top: 1.9%;
    margin-bottom: 1.9%;
    color: rgb(136, 227, 255);
}
.discr{
    float: inline-start;
    width: 1.5vw;
    margin-top: 2%;
    margin-bottom: 1.9%;
    margin-right: 0.5%;
    margin-left: 2%;
}
.about{
    overflow: hidden;
    text-align: left;
    margin-top: 3%;
    position: relative;
    color: rgb(255, 255, 255);
    /* background-color: aliceblue; */
}
.who{
    font-family: rubik;
    font-size: 4vw;
    font-weight: 400;
    position: relative;
    left: 20px;
}
.abtpar{
    font-family: rubik;
    font-size: 2vw;
    font-weight: 200;
    color: rgb(187, 187, 187);
    margin: 2%;
    line-height: 0.5;
}
.ryobig{
    z-index: -100;
    opacity: 40%;
    width: 15vw;
    position: absolute;
    margin-top: 0%;
    padding: 0.1%;
    bottom: 0;
    right: 0;
}
.ryotext{
    float: right;
    font-size: 0.8vw;
    color: #b8b8b8;
}
.sep1{
    margin-bottom: 4%;
}
.sep2{
    margin-bottom: 4%;
}
.sep3{
    margin-bottom: 50px;
}
.arrcontainer{
    margin: 4%;
    padding: 1%;
    left: 7%;
}
.arr{
    font-family: vcr_osd_mono;
    color: rgb(255, 242, 99);
    font-size: 3vw;
    width: 50%;
    position: relative;
}
.arr2{
    font-family: vcr_osd_mono;
    font-size: 1.3vw;
    color: #fffac1;
}
.bigcontainer{
    background-color: #414141;
    color: rgb(255, 255, 255);
}
.infolink{
    text-decoration: none;
    text-decoration-color: none;
    font-size: 2.5vw;
    color: white;
    font-weight: lighter;
    float: left;
    margin: 1%;
}
a:hover{
    color: rgb(255, 215, 145);
}